{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://rms.api.bbc.co.uk/"
        }
    ],
    "info": {
        "description": "We encapsulate Radio & Music business logic for iPlayer Radio and BBC Music products on all platforms. We add value by reliably providing the right blend of metadata needed by clients.",
        "title": "Radio & Music Services",
        "version": "1.0.0",
        "x-apisguru-categories": [
            "media"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_thumb_6_63_BBC_Radio_logo.svg_140px-BBC_Radio_logo.svg.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://rms.api.bbc.co.uk/docs/swagger.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "bbc.co.uk"
    },
    "tags": [
        {
            "name": "Experience"
        },
        {
            "description": "<a href=\"https://confluence.dev.bbc.co.uk/display/RMServices/Playspace+API+Client+Documetation\">Client Documentation</a>",
            "name": "Playspace"
        },
        {
            "name": "Categories"
        },
        {
            "name": "Networks"
        },
        {
            "name": "Broadcasts"
        },
        {
            "name": "Collections"
        },
        {
            "name": "Podcasts"
        },
        {
            "name": "Programmes"
        },
        {
            "name": "Personalised Categories"
        },
        {
            "name": "Personalised Networks"
        },
        {
            "name": "Personalised Plays"
        },
        {
            "name": "Radio"
        },
        {
            "name": "Music"
        },
        {
            "name": "Music Export"
        }
    ],
    "paths": {
        "/broadcasts": {
            "get": {
                "description": "All broadcasts\n",
                "parameters": [
                    {
                        "description": "API_KEY",
                        "in": "header",
                        "name": "X-API-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Paginated results offset",
                        "in": "query",
                        "name": "offset",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Paginated results limit",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Filter by Service ID. E.g. bbc_radio_fourfm",
                        "in": "query",
                        "name": "service_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter by date. E.g. 2016-06-17",
                        "in": "query",
                        "name": "date",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Sort by provided query. E.g. 'start_at' sorts in ascending order, and '-start_at' sorts in descending order",
                        "in": "query",
                        "name": "sort",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "start_at",
                                "-start_at",
                                "end_at",
                                "-end_at"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "limit": {
                                            "type": "integer"
                                        },
                                        "offset": {
                                            "type": "integer"
                                        },
                                        "results": {
                                            "items": {
                                                "properties": {
                                                    "duration": {
                                                        "type": "integer"
                                                    },
                                                    "end": {
                                                        "type": "string"
                                                    },
                                                    "is_audio_described": {
                                                        "type": "boolean"
                                                    },
                                                    "is_blanked": {
                                                        "type": "boolean"
                                                    },
                                                    "is_critical": {
                                                        "type": "boolean"
                                                    },
                                                    "is_live": {
                                                        "type": "boolean"
                                                    },
                                                    "is_repeat": {
                                                        "type": "boolean"
                                                    },
                                                    "is_webcast": {
                                                        "type": "boolean"
                                                    },
                                                    "pid": {
                                                        "type": "string"
                                                    },
                                                    "programme": {
                                                        "properties": {
                                                            "pid": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "enum": [
                                                                    "brand_summary",
                                                                    "series_summary",
                                                                    "episode_summary",
                                                                    "clip_summary"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "pid",
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "service_id": {
                                                        "type": "string"
                                                    },
                                                    "start": {
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "version_pid": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "duration",
                                                    "end",
                                                    "is_audio_described",
                                                    "is_blanked",
                                                    "is_critical",
                                                    "is_live",
                                                    "is_repeat",
                                                    "is_webcast",
                                                    "pid",
                                                    "service_id",
                                                    "start",
                                                    "type",
                                                    "version_pid"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "limit",
                                        "offset",
                                        "results",
                                        "total"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "There was an error with the supplied `Authorization` header.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "replied_at": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "href",
                                                    "id",
                                                    "message",
                                                    "replied_at"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "errors"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "replied_at": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "href",
                                                    "id",
                                                    "message",
                                                    "replied_at"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "errors"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Broadcasts",
                "tags": [
                    "Broadcasts"
                ]
            }
        },
        "/broadcasts/latest": {
            "get": {
                "description": "Broadcasts for the current day\n",
                "parameters": [
                    {
                        "description": "API_KEY",
                        "in": "header",
                        "name": "X-API-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Paginated results offset",
                        "in": "query",
                        "name": "offset",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Paginated results limit",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Filter by Service ID. E.g. bbc_radio_fourfm",
                        "in": "query",
                        "name": "service_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter what is on air. E.g. 'now' returns current programme being broadcasted.",
                        "in": "query",
                        "name": "on_air",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "now",
                                "previous",
                                "next"
                            ]
                        }
                    },
                    {
                        "description": "Filter what will be on air next in minutes. E.g. '240' returns programmes broadcasted in the next four hurs",
                        "in": "query",
                        "name": "next",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter what was on air previously in minutes. E.g. '240' returns programmes broadcasted in the previous four hurs",
                        "in": "query",
                        "name": "previous",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Sort by provided query. E.g. 'start_at' sorts in ascending order, and '-start_at' sorts in descending order",
                        "in": "query",
                        "name": "sort",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "start_at",
                                "-start_at",
                                "end_at",
                                "-end_at"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "limit": {
                                            "type": "integer"
                                        },
                                        "offset": {
                                            "type": "integer"
                                        },
                                        "results": {
                                            "items": {
                                                "properties": {
                                                    "duration": {
                                                        "type": "integer"
                                                    },
                                                    "end": {
                                                        "type": "string"
                                                    },
                                                    "is_audio_described": {
                                                        "type": "boolean"
                                                    },
                                                    "is_blanked": {
                                                        "type": "boolean"
                                                    },
                                                    "is_critical": {
                                                        "type": "boolean"
                                                    },
                                                    "is_live": {
                                                        "type": "boolean"
                                                    },
                                                    "is_repeat": {
                                                        "type": "boolean"
                                                    },
                                                    "is_webcast": {
                                                        "type": "boolean"
                                                    },
                                                    "pid": {
                                                        "type": "string"
                                                    },
                                                    "programme": {
                                                        "properties": {
                                                            "pid": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "enum": [
                                                                    "brand_summary",
                                                                    "series_summary",
                                                                    "episode_summary",
                                                                    "clip_summary"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "pid",
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "service_id": {
                                                        "type": "string"
                                                    },
                                                    "start": {
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "version_pid": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "duration",
                                                    "end",
                                                    "is_audio_described",
                                                    "is_blanked",
                                                    "is_critical",
                                                    "is_live",
                                                    "is_repeat",
                                                    "is_webcast",
                                                    "pid",
                                                    "service_id",
                                                    "start",
                                                    "type",
                                                    "version_pid"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "limit",
                                        "offset",
                                        "results",
                                        "total"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "There was an error with the supplied `Authorization` header.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "replied_at": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "href",
                                                    "id",
                                                    "message",
                                                    "replied_at"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "errors"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "replied_at": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "href",
                                                    "id",
                                                    "message",
                                                    "replied_at"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "errors"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Latest Broadcasts",
                "tags": [
                    "Broadcasts"
                ]
            }
        },
        "/broadcasts/{pid}": {
            "get": {
                "description": "Find broadcast by PID\n",
                "operationId": "getBroadcastByPid",
                "parameters": [
                    {
                        "description": "API_KEY",
                        "in": "header",
                        "name": "X-API-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "pid",
                        "in": "path",
                        "name": "pid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "limit": {
                                            "type": "integer"
                                        },
                                        "offset": {
                                            "type": "integer"
                                        },
                                        "results": {
                                            "items": {
                                                "properties": {
                                                    "duration": {
                                                        "type": "integer"
                                                    },
                                                    "end": {
                                                        "type": "string"
                                                    },
                                                    "is_audio_described": {
                                                        "type": "boolean"
                                                    },
                                                    "is_blanked": {
                                                        "type": "boolean"
                                                    },
                                                    "is_critical": {
                                                        "type": "boolean"
                                                    },
                                                    "is_live": {
                                                        "type": "boolean"
                                                    },
                                                    "is_repeat": {
                                                        "type": "boolean"
                                                    },
                                                    "is_webcast": {
                                                        "type": "boolean"
                                                    },
                                                    "pid": {
                                                        "type": "string"
                                                    },
                                                    "programme": {
                                                        "properties": {
                                                            "pid": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "enum": [
                                                                    "brand_summary",
                                                                    "series_summary",
                                                                    "episode_summary",
                                                                    "clip_summary"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "pid",
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "service_id": {
                                                        "type": "string"
                                                    },
                                                    "start": {
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "version_pid": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "duration",
                                                    "end",
                                                    "is_audio_described",
                                                    "is_blanked",
                                                    "is_critical",
                                                    "is_live",
                                                    "is_repeat",
                                                    "is_webcast",
                                                    "pid",
                                                    "service_id",
                                                    "start",
                                                    "type",
                                                    "version_pid"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "limit",
                                        "offset",
                                        "results",
                                        "total"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "There was an error with the supplied `Authorization` header.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "replied_at": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "href",
                                                    "id",
                                                    "message",
                                                    "replied_at"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "errors"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "replied_at": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "href",
                                                    "id",
                                                    "message",
                                                    "replied_at"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "errors"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Broadcasts by PID",
                "tags": [
                    "Broadcasts"
                ]
            }
        },
        "/categories": {
            "get": {
                "description": "Retrieve Categories\n",
                "parameters": [
                    {
                        "description": "API_KEY",
                        "in": "header",
                        "name": "X-API-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter by provided query. E.g. 'promoted' returns promoted categories",
                        "in": "query",
                        "name": "kind",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "promoted"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "replied_at": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "required": [
                                                    "href",
                                                    "id",
                                                    "message",
                                                    "replied_at",
                                                    "status"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "errors"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "List of categories",
                "tags": [
                    "Categories"
                ]
            }
        },
        "/categories/{id}": {
            "get": {
                "description": "Retrieve Categories by ID\n",
                "parameters": [
                    {
                        "description": "API_KEY",
                        "in": "header",
                        "name": "X-API-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Retrieve information about the category. E.g. 'sport-football-europeanchampionship'",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "replied_at": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "required": [
                                                    "href",
                                                    "id",
                                                    "message",
                                                    "replied_at",
                                                    "status"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "errors"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Category by ID",
                "tags": [
                    "Categories"
                ]
            }
        },
        "/collections/{pid}/members": {
            "get": {
                "description": "Episodes and Clips from Collection\n",
                "operationId": "getCollectionMembers",
                "parameters": [
                    {
                        "description": "API_KEY",
                        "in": "header",
                        "name": "X-API-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "pid",
                        "in": "path",
                        "name": "pid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Paginated results offset",
                        "in": "query",
                        "name": "offset",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Paginated results limit",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "limit": {
                                            "type": "integer"
                                        },
                                        "offset": {
                                            "type": "integer"
                                        },
                                        "results": {
                                            "items": {
                                                "properties": {
                                                    "pid": {
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "enum": [
                                                            "brand_summary",
                                                            "series_summary",
                                                            "episode_summary",
                                                            "clip_summary"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "pid",
                                                    "type"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "limit",
                                        "offset",
                                        "results",
                                        "total"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Collection not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "replied_at": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "href",
                                                    "id",
                                                    "message",
                                                    "replied_at"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "errors"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "replied_at": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "href",
                                                    "id",
                                                    "message",
                                                    "replied_at"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "errors"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Collection Members",
                "tags": [
                    "Collections"
                ]
            }
        },
        "/experience/homepage": {
            "get": {
                "description": "Homepage Experience\n",
                "operationId": "getExperienceHomepage",
                "parameters": [
                    {
                        "description": "API_KEY",
                        "in": "header",
                        "name": "X-API-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "uri": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "data"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "replied_at": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "href",
                                                    "id",
                                                    "message",
                                                    "replied_at"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "$schema",
                                        "errors"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Homepage Experience",
                "tags": [
                    "Experience"
                ]
            }
        },
        "/music/popular/artists": {
            "get": {
                "description": "List of Most Popular artists from BBC Music.\n",
                "operationId": "getMusicPopularArtists",
                "parameters": [
                    {
                        "description": "API_KEY",
                        "in": "header",
                        "name": "X-API-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
                        "in": "query",
                        "name": "since",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
                        "in": "query",
                        "name": "until",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
                        "in": "query",
                        "name": "decomposed",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Paginated results offset",
                        "in": "query",
                        "name": "offset",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Paginated results limit",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "limit": {
                                            "type": "integer"
                                        },
                                        "method": {
                                            "type": "string"
                                        },
                                        "offset": {
                                            "type": "integer"
                                        },
                                        "repliedAt": {
                                            "type": "string"
                                        },
                                        "results": {
                                            "items": {
                                                "properties": {
                                                    "gid": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "imagePid": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "score": {
                                                        "type": "integer"
                                                    },
                                                    "sortName": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "gid",
                                                    "id",
                                                    "imagePid",
                                                    "name",
                                                    "score",
                                                    "sortName"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "schema": {
                                            "type": "string"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "method",
                                        "repliedAt",
                                        "results",
                                        "schema",
                                        "total"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "schema": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Popular Artists",
                "tags": [
                    "Music"
                ],
                "servers": [
                    {
                        "url": "http://rms.api.bbc.co.uk/"
                    }
                ]
            }
        },
        "/music/popular/artists/{id}": {
            "get": {
                "description": "Popularity Artist By Id\n",
                "operationId": "getMusicPopularArtistById",
                "parameters": [
                    {
                        "description": "API_KEY",
                        "in": "header",
                        "name": "X-API-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
                        "in": "query",
                        "name": "since",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
                        "in": "query",
                        "name": "until",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
                        "in": "query",
                        "name": "decomposed",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "MusicBrainz Id - Used to get single resource score",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "limit": {
                                            "type": "integer"
                                        },
                                        "method": {
                                            "type": "string"
                                        },
                                        "offset": {
                                            "type": "integer"
                                        },
                                        "repliedAt": {
                                            "type": "string"
                                        },
                                        "results": {
                                            "items": {
                                                "properties": {
                                                    "gid": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "imagePid": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "score": {
                                                        "type": "integer"
                                                    },
                                                    "sortName": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "gid",
                                                    "id",
                                                    "imagePid",
                                                    "name",
                                                    "score",
                                                    "sortName"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "schema": {
                                            "type": "string"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "method",
                                        "repliedAt",
                                        "results",
                                        "schema",
                                        "total"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "schema": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Single Artist Popularity",
                "tags": [
                    "Music"
                ],
                "servers": [
                    {
                        "url": "http://rms.api.bbc.co.uk/"
                    }
                ]
            }
        },
        "/music/popular/playlists": {
            "get": {
                "description": "List of Most Popular playlists from BBC Music.\n",
                "operationId": "getMusicPopularPlaylists",
                "parameters": [
                    {
                        "description": "API_KEY",
                        "in": "header",
                        "name": "X-API-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
                        "in": "query",
                        "name": "since",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
                        "in": "query",
                        "name": "until",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
                        "in": "query",
                        "name": "decomposed",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Paginated results offset",
                        "in": "query",
                        "name": "offset",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Paginated results limit",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "limit": {
                                            "type": "integer"
                                        },
                                        "method": {
                                            "type": "string"
                                        },
                                        "offset": {
                                            "type": "integer"
                                        },
                                        "repliedAt": {
                                            "type": "string"
                                        },
                                        "results": {
                                            "items": {
                                                "properties": {
                                                    "categories": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "commentsEnabled": {
                                                        "type": "boolean"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "externalPartners": {
                                                        "items": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "type",
                                                                "value"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "genre": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "imagePid": {
                                                        "type": "string"
                                                    },
                                                    "imageUrl": {
                                                        "type": "string"
                                                    },
                                                    "kind": {
                                                        "type": "string"
                                                    },
                                                    "mood": {
                                                        "type": "string"
                                                    },
                                                    "oneOff": {
                                                        "type": "boolean"
                                                    },
                                                    "playlistPlaybackType": {
                                                        "type": "string"
                                                    },
                                                    "score": {
                                                        "type": "integer"
                                                    },
                                                    "serviceId": {
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "updatedAt": {
                                                        "type": "string"
                                                    },
                                                    "visibility": {
                                                        "type": "string"
                                                    },
                                                    "wideImagePid": {
                                                        "type": "string"
                                                    },
                                                    "wideImageUrl": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "categories",
                                                    "commentsEnabled",
                                                    "description",
                                                    "externalPartners",
                                                    "genre",
                                                    "id",
                                                    "imagePid",
                                                    "imageUrl",
                                                    "kind",
                                                    "mood",
                                                    "oneOff",
                                                    "playlistPlaybackType",
                                                    "score",
                                                    "serviceId",
                                                    "title",
                                                    "updatedAt",
                                                    "visibility",
                                                    "wideImagePid",
                                                    "wideImageUrl"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "schema": {
                                            "type": "string"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "method",
                                        "repliedAt",
                                        "results",
                                        "schema",
                                        "total"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "schema": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Popular Playlists",
                "tags": [
                    "Music"
                ],
                "servers": [
                    {
                        "url": "http://rms.api.bbc.co.uk/"
                    }
                ]
            }
        },
        "/music/popular/playlists/{id}": {
            "get": {
                "description": "Popular playlist by Id\n",
                "operationId": "getMusicPopularPlaylistById",
                "parameters": [
                    {
                        "description": "API_KEY",
                        "in": "header",
                        "name": "X-API-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
                        "in": "query",
                        "name": "since",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
                        "in": "query",
                        "name": "until",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
                        "in": "query",
                        "name": "decomposed",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "BBC Music Playlist Id - Used to get single resource score",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "limit": {
                                            "type": "integer"
                                        },
                                        "method": {
                                            "type": "string"
                                        },
                                        "offset": {
                                            "type": "integer"
                                        },
                                        "repliedAt": {
                                            "type": "string"
                                        },
                                        "results": {
                                            "items": {
                                                "properties": {
                                                    "categories": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "commentsEnabled": {
                                                        "type": "boolean"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "externalPartners": {
                                                        "items": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "type",
                                                                "value"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "genre": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "imagePid": {
                                                        "type": "string"
                                                    },
                                                    "imageUrl": {
                                                        "type": "string"
                                                    },
                                                    "kind": {
                                                        "type": "string"
                                                    },
                                                    "mood": {
                                                        "type": "string"
                                                    },
                                                    "oneOff": {
                                                        "type": "boolean"
                                                    },
                                                    "playlistPlaybackType": {
                                                        "type": "string"
                                                    },
                                                    "score": {
                                                        "type": "integer"
                                                    },
                                                    "serviceId": {
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "updatedAt": {
                                                        "type": "string"
                                                    },
                                                    "visibility": {
                                                        "type": "string"
                                                    },
[...]
